# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-cache.lib 
*-cache

#check in rescue because i had to rescue some
#eventually i'll fix that
#*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
*.xlsx
*.xls

#exported 3d files
*.step

# gerbers
gerbers

.DS_Store
